body {
  margin: 0;
}

#screen {
  aspect-ratio: 16 / 9;

  display: grid;
  grid-template: 100% / 100%;
}

#game {
  grid-area: 1 / 1;

  display: grid;
  grid-template: 100% / 100%;
  position: relative;
  overflow: hidden;
}

#game_background {
  grid-area: 1 /1;

  background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
}

#game_elements {
  grid-area: 1 /1;
}

/* positioning elements */
.falling {
  animation-name: falling;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.clickcoin {
  animation-name: clickcoin;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.clickbomb {
  animation-name: clickbomb;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#coin1_container {
  position: absolute;

  top: 50vw;
  left: 10vw;
}

#coin1_sprite {
  width: 100%;
}

#coin2_container {
  position: absolute;

  top: 35vw;
  left: 40vw;
}

#coin2_sprite {
  width: 100%;
}

#coin3_container {
  position: absolute;

  top: 20vw;
  left: 70vw;
}

#coin3_sprite {
  width: 100%;
}

#bomb_container {
  position: absolute;

  top: 20vw;
  left: 30vw;
}

#bomb_sprite {
  width: 100%;
}

#heart_container {
  position: absolute;

  top: 45vw;
  left: 55vw;
}

#heart_sprite {
  width: 100%;
}

/* Animations */

@keyframes falling {
  0% {
    transform: translate(0, -400%);
  }
  100% {
    transform: translate(0, 200%);
  }
}
@keyframes clickcoin {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes clickbomb {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.75);
  }
  75% {
    transform: scale(3.5);
  }
  100% {
    transform: scale(0);
  }
}
